# Challenge
## Part 2
### Have Customers Narrow Their Travel Searches Based on Temperature and Precipitation

In [1]:
# Import the dependencies.
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import random
import requests
from scipy.stats import linregress
import gmaps
from citipy import citipy
from datetime import datetime
import time

In [2]:
# Import API key.
from config import weather_api_key
from config import g_key

In [3]:
city_data_df = pd.read_csv("data/WeatherPy_database.csv")
city_data_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain (inches),Snow (inches)
0,0,Dikson,RU,2020-10-04 01:56:04,73.51,80.55,34.63,97,100,24.02,overcast clouds,0.00,0.00
1,1,Aljezur,PT,2020-10-04 01:56:04,37.32,-8.80,59.76,77,18,6.46,few clouds,0.00,0.00
2,2,Butaritari,KI,2020-10-04 01:56:05,3.07,172.79,81.37,71,100,8.72,overcast clouds,0.00,0.00
3,3,Longyearbyen,SJ,2020-10-04 01:56:06,78.22,15.64,36.12,84,88,1.05,overcast clouds,0.00,0.00
4,4,Rikitea,PF,2020-10-04 01:56:06,-23.12,-134.97,73.58,78,4,17.43,clear sky,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
529,529,Manaure,CO,2020-10-04 02:01:00,11.78,-72.44,82.36,76,89,5.41,overcast clouds,0.00,0.00
530,530,Saint-Imier,CH,2020-10-04 02:01:00,47.15,7.00,50.00,87,75,17.22,light rain,0.44,0.44
531,531,Bundaberg,AU,2020-10-04 02:01:01,-24.85,152.35,78.01,47,20,17.22,few clouds,0.00,0.00
532,532,Turayf,SA,2020-10-04 02:01:02,31.67,38.66,66.20,77,0,6.93,clear sky,0.00,0.00
533,533,Clarence Town,AU,2020-10-04 02:01:02,-32.58,151.78,84.99,37,11,8.05,few clouds,0.00,0.00

In [4]:
city_data_df.dtypes

City_ID                  int64
City                    object
Country                 object
Date                    object
Lat                    float64
Lng                    float64
Max Temp               float64
Humidity                 int64
Cloudiness               int64
Wind Speed             float64
Current Description     object
Rain (inches)          float64
Snow (inches)          float64
dtype: object

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# Enter maximum temperature criteria.
min_temp = float(input("What is the minimum temperature you would like for your vacation? "))
max_temp = float(input("What is the maximum temperature you would like for your vacation? "))

What is the minimum temperature you would like for your vacation? 30
What is the maximum temperature you would like for your vacation? 50

In [7]:
# Ask the customer if they want it to be raining.
rain_amount = input("Do you want it to be raining? (yes/no) ")

Do you want it to be raining? (yes/no) no

In [8]:
# Ask the customer if they want it to be snowing.
snow_amount = input("Do you want it to be snowing? (yes/no) ")

Do you want it to be snowing? (yes/no) yes

In [9]:
if rain_amount == "no" and snow_amount == "no":
    filtered_cities_df = city_data_df_df_dfcity_data_dfdf_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                         (city_data_df["Max Temp"] >= min_temp) &
                   city_data_df_data_df_data_df_data_df_data_df_data_df_data_df_data_df_data_df_data_df_data_df_data_df                  (city_data_df["Rain (inches)"] == 0) &
                                         (city_data_df["Snow (inches)"] == 0)]
elif rain_amount == "no" and snow_amount == "yes":
    filtered_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                         (city_data_df["Max Temp"] >= min_temp) &
                                         (city_data_df["Rain (inches)"] == 0) &
                                         (city_data_df["Snow (inches)"] >= 0.0)]
elif rain_amount == "yes" and snow_amount == "no":
    filtered_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                         (city_data_df["Max Temp"] >= min_temp) &
                                         (city_data_df["Rain (inches)"] > 0.0) &
                                         (city_data_df["Snow (inches)"] == 0)]
else:
    filtered_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                         (city_data_df["Max Temp"] >= min_temp) &
                                         (city_data_df["Rain (inches)"] > 0.0) &
                                         (city_data_df["Snow (inches)"] > 0.0)]

In [10]:
filtered_cities_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain (inches),Snow (inches)
0,0,Dikson,RU,2020-10-04 01:56:04,73.51,80.55,34.63,97,100,24.02,overcast clouds,0.0,0.0
3,3,Longyearbyen,SJ,2020-10-04 01:56:06,78.22,15.64,36.12,84,88,1.05,overcast clouds,0.0,0.0
5,5,Ushuaia,AR,2020-10-04 01:56:07,-54.80,-68.30,42.80,75,40,4.70,scattered clouds,0.0,0.0
17,17,Lebu,CL,2020-10-04 01:56:13,-37.62,-73.65,44.67,80,0,3.24,clear sky,0.0,0.0
18,18,Zeya,RU,2020-10-04 01:56:14,53.75,127.27,45.91,65,100,10.09,overcast clouds,0.0,0.0

In [11]:
filtered_cities_df.count()

City_ID                118
City                   118
Country                117
Date                   118
Lat                    118
Lng                    118
Max Temp               118
Humidity               118
Cloudiness             118
Wind Speed             118
Current Description    118
Rain (inches)          118
Snow (inches)          118
dtype: int64

In [12]:
filtered_cities_df.count()

City_ID                118
City                   118
Country                117
Date                   118
Lat                    118
Lng                    118
Max Temp               118
Humidity               118
Cloudiness             118
Wind Speed             118
Current Description    118
Rain (inches)          118
Snow (inches)          118
dtype: int64

In [13]:
filtered_cities_df = filtered_cities_df.dropna()
filtered_cities_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain (inches),Snow (inches)
0,0,Dikson,RU,2020-10-04 01:56:04,73.51,80.55,34.63,97,100,24.02,overcast clouds,0.0,0.0
3,3,Longyearbyen,SJ,2020-10-04 01:56:06,78.22,15.64,36.12,84,88,1.05,overcast clouds,0.0,0.0
5,5,Ushuaia,AR,2020-10-04 01:56:07,-54.80,-68.30,42.80,75,40,4.70,scattered clouds,0.0,0.0
17,17,Lebu,CL,2020-10-04 01:56:13,-37.62,-73.65,44.67,80,0,3.24,clear sky,0.0,0.0
18,18,Zeya,RU,2020-10-04 01:56:14,53.75,127.27,45.91,65,100,10.09,overcast clouds,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
511,511,Kharp,RU,2020-10-04 02:00:47,66.80,65.81,31.51,94,29,8.66,scattered clouds,0.0,0.0
514,514,Iskateley,RU,2020-10-04 02:00:48,67.68,53.15,32.49,94,97,7.90,overcast clouds,0.0,0.0
519,519,Chillicothe,US,2020-10-04 02:00:51,39.33,-82.98,50.00,87,75,3.36,broken clouds,0.0,0.0
524,524,Atasu,KZ,2020-10-04 02:00:56,48.68,71.64,45.27,73,34,2.08,scattered clouds,0.0,0.0
527,527,Strezhevoy,RU,2020-10-04 02:00:58,60.73,77.59,32.00,96,75,8.95,light shower snow,0.0,0.0

In [14]:
filtered_cities_df.count()

City_ID                117
City                   117
Country                117
Date                   117
Lat                    117
Lng                    117
Max Temp               117
Humidity               117
Cloudiness             117
Wind Speed             117
Current Description    117
Rain (inches)          117
Snow (inches)          117
dtype: int64

In [15]:
hotel_df = filtered_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Dikson,RU,34.63,overcast clouds,73.51,80.55,
3,Longyearbyen,SJ,36.12,overcast clouds,78.22,15.64,
5,Ushuaia,AR,42.80,scattered clouds,-54.80,-68.30,
17,Lebu,CL,44.67,clear sky,-37.62,-73.65,
18,Zeya,RU,45.91,overcast clouds,53.75,127.27,

In [16]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    
    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [17]:
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Dikson,RU,34.63,overcast clouds,73.51,80.55,
3,Longyearbyen,SJ,36.12,overcast clouds,78.22,15.64,"Radisson Blu Polar Hotel, Spitsbergen"
5,Ushuaia,AR,42.80,scattered clouds,-54.80,-68.30,Albatros Hotel
17,Lebu,CL,44.67,clear sky,-37.62,-73.65,Hostal Las Lilas
18,Zeya,RU,45.91,overcast clouds,53.75,127.27,Kapital Inn

In [18]:
# Create the output file (CSV).
output_data_file = "data/WeatherPy_vacation.csv"
# Export the City_Data into a CSV.
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [19]:
vacation_df = pd.read_csv("data/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Dikson,RU,34.63,overcast clouds,73.51,80.55,NaN
1,3,Longyearbyen,SJ,36.12,overcast clouds,78.22,15.64,"Radisson Blu Polar Hotel, Spitsbergen"
2,5,Ushuaia,AR,42.80,scattered clouds,-54.80,-68.30,Albatros Hotel
3,17,Lebu,CL,44.67,clear sky,-37.62,-73.65,Hostal Las Lilas
4,18,Zeya,RU,45.91,overcast clouds,53.75,127.27,Kapital Inn

In [21]:
# Using the template add the hotel marks to the heatmap.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]
locations = vacation_df[["Lat", "Lng"]]

In [22]:
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))