# Challenge
## Part 3
### Create a Travel Itinerary with a Corresponding Map

In [1]:
# Import the dependencies.
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import random
import requests
from scipy.stats import linregress
import gmaps
from citipy import citipy
from datetime import datetime
import time

In [2]:
# Import API key.
from config import weather_api_key
from config import g_key

In [3]:
gmaps.__version__

'0.9.0'

In [4]:
gmaps.configure(api_key=g_key)

In [5]:
vacation_df = pd.read_csv("data/WeatherPy_vacation.csv")

In [6]:
vacation_df.dropna().head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,3,Longyearbyen,SJ,36.12,overcast clouds,78.22,15.64,"Radisson Blu Polar Hotel, Spitsbergen"
2,5,Ushuaia,AR,42.80,scattered clouds,-54.80,-68.30,Albatros Hotel
3,17,Lebu,CL,44.67,clear sky,-37.62,-73.65,Hostal Las Lilas
4,18,Zeya,RU,45.91,overcast clouds,53.75,127.27,Kapital Inn
5,24,Yellowknife,CA,50.00,broken clouds,62.46,-114.35,The Explorer Hotel

In [7]:
# Using the template add the hotel marks to the heatmap.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]
locations = vacation_df[["Lat", "Lng"]]

In [8]:
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
vacation_start = vacation_df.loc[vacation_df["City"] == "Monroe"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Carman"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Chillicothe"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Douglas"]

In [11]:
start = vacation_start["Lat"].values[0], vacation_start["Lng"].values[0]
end = vacation_end["Lat"].values[0], vacation_end["Lng"].values[0]
stop1 = vacation_stop1["Lat"].values[0], vacation_stop1["Lng"].values[0]
stop2 = vacation_stop2["Lat"].values[0], vacation_stop2["Lng"].values[0]
print(start)
print(end)
print(stop1)
print(stop2)

(43.15, -77.68)
(49.5, -98.0)
(39.33, -82.98)
(41.3, -96.17)

In [14]:
fig = gmaps.figure()
vacation_itinerary = gmaps.directions_layer(
    start,end,waypoints=[stop1,stop2],
    travel_mode="DRIVING")
fig.add_layer(vacation_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
itinerary_df = pd.concat([vacation_start, vacation_end, vacation_stop1, vacation_stop2])

In [16]:
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
103,482,Monroe,US,50.00,overcast clouds,43.15,-77.68,Staybridge Suites Rochester University
50,237,Carman,CA,39.99,clear sky,49.50,-98.00,"Bell Aura Bed, Breakfast & Bistro"
114,519,Chillicothe,US,50.00,broken clouds,39.33,-82.98,Holiday Inn Express Chillicothe East
97,458,Douglas,US,48.99,clear sky,41.30,-96.17,Hilton Garden Inn Omaha West

In [17]:
itinerary_df.reset_index(drop=True)

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,482,Monroe,US,50.00,overcast clouds,43.15,-77.68,Staybridge Suites Rochester University
1,237,Carman,CA,39.99,clear sky,49.50,-98.00,"Bell Aura Bed, Breakfast & Bistro"
2,519,Chillicothe,US,50.00,broken clouds,39.33,-82.98,Holiday Inn Express Chillicothe East
3,458,Douglas,US,48.99,clear sky,41.30,-96.17,Hilton Garden Inn Omaha West

In [18]:
# Using the template add the hotel marks to the heatmap.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]
locations = itinerary_df[["Lat", "Lng"]]

In [23]:
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))